/*  General */

*{
    box-sizing: border-box;
}

body, html{
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6 ;
    margin: 0;
    font-weight: 500;
}

/* HEADER */

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFF;
    padding: 30px;
    z-index: 3;
    box-shadow: 0 4ox 10px rgba(0, 0, 0, .1);
}

.topbar nav{
    float: left;
}

.topbar nav a{
    color: #9F9F9F;
    text-decoration: none;
    font-weight: 500;
    padding: 0 53px;
}

.topbar nav a:hover, .topbar nav a.active{
    color: #000;
}

.social {
    float: right;
}

.social a {
    padding: 0 12px;
    opacity: .5;
}

.social a:hover{
    opacity: 1;
}

.banniere{
    height: 427px;
    background: no-repeat center center / cover url(images/header_image.jpg);
}

/* Main */

.body{
    display: flex;
}

.main{
    background: #FFF;
    width: calc(100% - 375px);
    box-shadow: 0 4ox 30px rgba(0, 0, 0, .85);
    position: relative;
    z-index: 2;
}

.conteiner{
    max-width: 940px;
    margin: 0 auto;
}

.article{
    position: relative;
    margin: 50px 0;
    padding-left: 333px;
    min-height: 203px;
}

.article a{
    color: inherit;
    text-decoration: none;
}

.article a:hover{
    text-decoration: underline;
}

.article-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 308px;
    margin-right: 25px;
}

.article-img img{
    width: 100%;
    height: auto;
}

.article-date{
    font-weight: 300;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
}

.article-title {
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: 'Cardo', serif;
    margin: 0 0 15px 0;
}

/* Aside */

.sidebar{
    background:#FBFBFB;
    width: 375px;
    padding: 40px;
    position: relative;
    z-index: 1;
}

.sidebar-title{
    font-size: 30px;
    color: #000;
    margin: 35px 0;
}

.sidebar-title:first-child{
    margin-top: 0;
}

.sidebar a{
    color: #9F9F9F;
    text-decoration: none;
}

.sidebar ul{
    margin: 0;
    padding: O;
    list-style: none;
}

.sidebar li{
    padding: 6px 0;
}

.sidebar li:first-child{
    padding-top: 0;
}

.sidebar li:last-child{
    padding-bottom: 0;
}

.sidebar a:hover{
    text-decoration: underline;
}

.sidebar hr{
    border: none;
    background:#C4C4C4;
    height: 1px;
    margin: 50px 0;
}

/* Footer */

.footer {
    clear: both;
}

/* Media quieries */

@media screen and (max-width: 1100px) {
    .body{
        display: block;
    } 

    .main{
        width: 100%;
    }

    .main .conteiner{
        overflow: hidden;
    }

    .sidebar{
        width: 100%;
    }
}

@media screen and (max-width: 740px){
    .conteiner{
        padding: 0 20px;
    }

    .article{
        padding-left: 0;
    }

    .article-img{
        position: static;
        margin-bottom: 1 rem;
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 860px) {
    .topbar{
        position: absolute;
    }

    .topbar nav, .social{
        float: none;
        text-align: center;
    }

    .topbar nav{
        margin-bottom: 15px;
    }

    .topbar nav a{
        display: inline-block;
        margin: 0 20px 5px 20px;
        white-space: nowrap;
    }
}